.author-box {
    display: flex;
    background-color: $bg_grant;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    flex-wrap: wrap;

    .gravatar {
        width: 150px;
        height: 150px;
        border-radius: 150px;
        border: 3px solid #f7e3c8;
        margin-right: 15px;

        @media(max-width: 575px) {
            width: 100px;
            height: 100px;
            border-radius: 100px;
            border: 3px solid #f7e3c8;
            margin-right: 15px;
        }

        img {
            border-radius: 150px;
            width: 100%;
        }
    }

    .author-description-wrap {
        max-width: calc(100% - 170px);
        line-height: 1.8;
        margin-left: 170px;
        margin-top: -75px;

        @media(max-width: 575px) {
            width: 100%;
            max-width: 100%;
            margin-top: 10px;
            margin-left: 0;
        }
    }

    .author-title {
        font-weight: bold;
        margin-bottom: 0;
        font-size: 18px;
    }

    .profile-social {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 5px;

        li {
            margin: 5px;
        }

        a {
            width: 28px;
            height: 28px;
            background-color: $mint;
            color: #fff;
            display: block;
            text-align: center;
            line-height: 30px;
            border-radius: 30px;
            font-size: 14px;

            &:hover {
                background-color: $black;
            }
        }
    }

    .author-link {
        background-color: $mint;
        color: #fff;
        border-radius: 30px;
        padding: 8px 15px;

        &:hover {
            background: $black;
        }
    }
}

@media(max-width:575px) {
    .author-header {
        align-items: center;
    }
}