$brand: #9f2042;
$pink: #FC9FB8;
$red:#bc1311;
$yellow:#C09F5C;
$text: #32373c;
$second_text: #7f8fa4;
$border: #e1e8ee;
$dark: #101010;
$light: #ffffff;
$link_color:#38baff;
$green:#4caf50;
$bg_pink:#fff3f1;
$border_color:#f2f2f2;
$border_gray:#e3e3e3;
$border_color_1:#e5e5e5;
$border_color_2:#ccc;