.cart-container {
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;

    @media(max-width: 575px) {
        box-shadow: none;

    }

    .page-title {
        font-size: 16px;
        color: $brand;
        text-transform: uppercase;
    }

    .col-image {
        width: 100px;

        @media(max-width: 575px) {
            width: 80px;
        }

        img {
            width: 80px;
        }
    }

    .col-price {
        text-align: right;

        .delete-item {
            cursor: pointer;

            &:hover {
                color: red;
            }
        }
    }



    .product-name {
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 5px;

        a {
            color: #333;
        }
    }

    .cart-item {
        border-top: 1px solid #ededed;
        padding: 10px 0;
    }

    .product-price {
        font-weight: 700;
        font-size: 14px;
    }

    .product-qty {
        font-size: 14px;
        color: #808080;

        .number {
            font-weight: bold;
            color: #000;

        }
    }


    .cart-total {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        border: 1px dashed $brand;
        background-color: #cdf5ce;
        color: $brand;
        border-radius: 8px;
        padding: 15px;

        @media(max-width: 575px) {
            justify-content: flex-start;
            text-align: left !important;
        }

    }

    .total {
        display: flex;
        justify-content: space-between;
        margin-left: auto;

        font-weight: bold;

        span {
            font-weight: 700;
            color: #333;
            margin-left: 15px;
        }

        @media(max-width: 575px) {
            margin-left: 0;
        }

    }

    .cod-ship {
        color: #2196f3;
        margin-top: 10px;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        margin-left: auto;


        @media(max-width: 575px) {
            margin-left: 0;
        }

        span {
            font-weight: 700;
            color: #333;
            margin-left: 15px;
        }


    }


}

body.page-template-cart {
    background-color: #f2f2f2;

    @media(max-width: 575px) {
        background: #fff;
    }
}

.checkout-form {


    label {
        font-weight: 700;
        font-size: 14px;
    }

    .form-control {
        font-size: 14px;
        border-radius: 0;
    }

    .btn-order {
        background-color: $brand;
        color: #fff;
        font-weight: bold;
        width: 100%;
    }
}

.checkout-container {
    background-color: #fff;
    padding: 15px;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.03);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 8px;

    .page-title {
        color: $brand;
        font-size: 1.5rem;
        border-bottom: 1px solid #fefefe;
    }
}

.cart-info {
    .inner {
        background-color: #f3f3f3;
        padding: 20px 15px;
        border-radius: 10px;
    }

    .cart-info-item {
        border-bottom: 1px dashed #e4e4e4;
        padding: 10px 0;
        align-items: flex-end;

        &:last-child {
            border: none;
        }
    }

    .product-name {
        font-weight: 700;
    }

    p {
        margin-bottom: 5px;
    }

    .product-qty {
        font-size: 13px;
    }

    .product-price {
        font-weight: 700;
        font-size: 13px;

    }

    .col-price {
        text-align: right;
    }

    .cart-total {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        border: 1px dashed $brand;
        background-color: #cdf5ce;
        color: $brand;
        border-radius: 8px;
        padding: 15px;

        @media(max-width: 575px) {
            justify-content: flex-start;
            text-align: left !important;
        }

    }

    .total {
        display: flex;
        justify-content: space-between;
        margin-left: auto;

        font-weight: bold;

        span {
            font-weight: 700;
            color: #333;
            margin-left: 15px;
        }

        @media(max-width: 575px) {
            margin-left: 0;
        }

    }

    .cod-ship {
        color: #2196f3;
        margin-top: 10px;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        margin-left: auto;


        @media(max-width: 575px) {
            margin-left: 0;
        }

        span {
            font-weight: 700;
            color: #333;
            margin-left: 15px;
        }


    }
}

#modal-checkout {
    .modal-title {
        text-transform: uppercase;
        font-weight: 700;
    }

    .modal-footer {
        .btn-close {
            background-color: $brand;
            color: #fff;
            width: 100%;
            font-weight: 700;
        }
    }
}

.order-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}

.order-info {
    p {
        font-size: 14px;
        margin-bottom: 5px;
    }
}