.post-meta-job {
    margin-bottom: 15px;

    span {
        background-color: #f1f1f1;
        padding: 3px 10px;
        display: inline-block;
        margin-right: 10px;
        border-radius: 3px;
        color: $dark_color;
        display: inline-block;
        margin-right: 10px;
    }
}
