.modal-title {
    text-transform: uppercase;
    font-weight: 700;
    color: $red_color;
    font-size: 15px;
}

.modal-content {
    position: relative;

    .close {
        width: 35px;
        height: 35px;
        border-radius: 35px;
        background-color: $border_color;
        text-align: center;
        line-height: 35px;
        padding: 0;
        position: absolute;
        top: 10px;
        right: 10px;
        margin: 0;

        &:hover {
            background-color: $brand_color;
            color: $light_color;
        }
    }
}

.modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1;
}

.modal-tech-spec {
    .modal-header {
        justify-content: center;
    }

    .modal-title {
        text-align: center;
        font-size: 1.2rem;
        color: $dark_color;
    }

    .modal-body {

        /* width */
        &::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }

    .group-spec {
        margin-bottom: 30px;

        .group-title {
            text-transform: uppercase;
            font-weight: 700;
            color: $brand_color;
            text-align: center;
            margin-bottom: 10px;
            background: $brand_color;
            color: $light_color;
            padding: 10px;
            font-size: 13px;
        }

        .spec-item {
            border: 1px solid $border_color;
            padding: 0px 10px;
            border-bottom: none;
            display: flex;
            flex: auto;

            &:last-child {
                border-bottom: 1px solid $border_color;
            }
        }

        .spec-label {
            width: 60%;
            display: block;
            border-right: 1px solid $border_color;
            padding: 10px 0;
            font-size: 13px;
        }

        .spec-value {
            width: 40%;
            padding-left: 10px;
            padding: 10px 0 10px 10px;
        }
    }
}


.modal-search-advance {
    .modal-dialog {
        margin: 0;
        border-radius: 0;
        height: 100vh;
    }

    .modal-header {
        border: none;
        padding: 0;
    }

    .close {
        z-index: 6;
    }

    .modal-content {
        border: none;
        border-radius: 0;
        height: 100vh;
        overflow: auto;
    }

    .form-row {
        margin-bottom: 5px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    label {
        font-weight: 700;
        display: block;
    }

    .custom-control-label {
        font-weight: 400;
    }

    .form-group-border {
        border-bottom: 1px dashed $border_color;
        padding-bottom: 10px;
    }
    .custom-select,
    .form-control{
        font-size: 14px;
    }
    .list-product-body{
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
        flex: 1;
        align-items: flex-start;
        visibility: visible;
        flex-flow:row;
    }
    .select-product-type{
        padding-left: 0;
        text-align: center;
        min-width: 70px;
        height: 70px;
        background:#f1f1f1;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        white-space: nowrap;
        border:1px solid $border_color;
        &.selected{
            border-color: $blue_color;
            background-color: $light_color;
        }
        .icon{
            display: block;
            margin: 0 auto;
            max-width: 40px;
        }
        .label{
            font-size: 11px;
        }
        .custom-control-input{
            display: none;
        }
        .custom-control-label{
            &:before,&:after{
                display: none;
            }
            &:focus{
                border:1px solid $blue_color;
            }
        }
    }
    .col-price{
        .low-price{
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            border-right: none;
        }
        .high-price{
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
    .btn-search {
        background-color: $brand_color;
        color: $light_color;
        width: 100%;
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 15px;

        i {
            margin-right: 5px;
        }
    }
}

.modal {
    .result {
        padding: 15px 0;

        .table-result-help {
            text-align: center;
            color: $brand_color;
            font-size: 12px;

        }
    }

    .table-result {
        font-size: 13px;
        overflow-x: auto;

        .thead-dark {
            th {
                background-color: $brand_color;
                border-color: $brand_color;
                min-width: 150px;

                &:first-child {
                    min-width: 60px;
                }
            }

        }

        th {
            font-size: 13px;
        }

        tfoot {

            th,
            td {
                font-weight: 700;
                background-color: $brand_color;
                color: $light_color;
            }

        }
    }
}

/** Modal Valuation **/
.modal-valuation,
.modal-valuation-result {
    .modal-header {
        border: none;
    }

    .heading-text {
        font-weight: 700;
        text-align: center;
        font-size: 1.5rem;
    }

    .sub-title {
        text-align: center;
        font-size: 14px;
    }
}

.modal-valuation-result {
    .product-model {
        background-color: $brand_color;
        display: inline-block;
        text-align: center;
        padding: 5px 15px;
        color: $light_color;
        font-weight: 700;
        border-radius: 30px;
        margin: 10px auto;
    }

    .product-info {
        .col-6 {
            border: 1px solid $border_color;
            border-right: none;
            border-bottom: none;
            padding: 5px;
            &:nth-child(2n + 1) {
                border-left: none;
            }

            &:nth-child(5),
            &:nth-child(6) {
                border-bottom: 1px solid $border_color;
            }
        }
    }

    .attr-item {
        display: flex;
        font-size: 13px;
        padding: 10px 5px;
    }

    .attr-icon {
        margin-right: 10px;
    }

    .btn-price {
        background-color: $brand_color;
        display: inline-block;
        text-align: center;
        padding: 5px 15px;
        color: $light_color;
        font-weight: 700;
        border-radius: 30px;
    }

}