.droplet {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;

    &.show {
        display: block;
    }
}

.mega-sale {
    background-color: #1e4bea;

    img {
        display: block;
        margin: 0 auto;
    }
}

.top-nav {
    background-color: $dark;
    padding: 0;
    font-size: 13px;
    width: 100%;

    a {
        color: $light;

    }

    @media(max-width: 575px) {
        display: none;
    }
}

.page-header {
    background-color: $dark;
    color: $dark;
    transition: all 0.3s;

    .navbar-brand {
        display: block;
        width: 140px;
        height: 50px;
        background: url(../images/logo.svg) no-repeat;
        background-position: center;
        background-size: 100% auto;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        font-size: 0;
        margin-top: -5px;

        @media(max-width: 575px) {
            background-image: url(../images/logo-light.svg);
        }
    }
}

.page-header {
    .search-form {
        position: relative;

        .form-group {
            margin-bottom: 0;
        }

        .form-control {
            border: 1px solid $border;
            border-radius: 10px;
            font-size: 13px;
            min-height: 36px;
        }

        .btn-search {
            color: $dark;
            position: absolute;
            top: -1px;
            right: -1px;
            border-radius: 40px;
            width: 50px;

            &:focus {
                background-color: $brand;
                color: $light;
            }
        }
    }
}

.btn-toggler-menu {
    width: 40px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    position: relative;
    margin-right: 5px;
    border: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    span {
        display: block;
        height: 3px;
        border-radius: 4px;
        width: 24px;
        background-color: $light;
        position: relative;
        transition: all 0.3s;

        &:before,
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: $light;
            border-radius: 4px;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.3s;
        }

        &:before {
            margin-top: -8px;
            width: 80%;
        }

        &:after {
            margin-top: 8px;
            width: 50%;
        }
    }

    &:focus {
        outline: none;
    }

    &:hover {
        span {
            background-color: $light;

            &:before {
                background-color: $light;
            }

            &:after {
                background-color: $light;
            }
        }
    }

    @media (max-width: 575px) {
        span {
            background: $light;

            &:before,
            &:after {
                background: $light;
            }
        }
    }
}

.primary-nav {
    border-top: 1px solid $border;
    background-color: #f1f1f1;

    @media(max-width: 575px) {
        background: $dark !important;
    }

    .navbar-nav {
        .nav-link {
            color: $dark;
            font-size: 13px;
            font-weight: 700;
            padding-left: 10px;
            padding-right: 10px;
            text-transform: uppercase;


            &:hover {
                color: $brand;
            }
        }
    }

    @media(max-width: 575px) {
        .navbar-collapse {
            background-color: $light;
            margin-top: 15px;
            margin-left: -15px;
            margin-right: -15px;
            padding: 15px;
            position: relative;
            padding-top: 50px;
            .search-form{
                position: absolute;
                top: 5px;
                left: 15px;
                width: calc(100% - 30px);
                .form-control{
                    border-radius: 30px;
                }
            }
            .nav-link{
                border-bottom: 1px solid $border;
            }
            .nav-item:last-child{
                .nav-link{
                    border: none;
                }
            }
        }
    }



    .dropdown-menu {
        border-radius: 0;
        border-top: 2px solid $brand;

        a {
            font-size: 14px;
        }
    }
}

/** Mega Menu */
.primary-nav {
    position: relative;

    .mega-menu {
        position: static;

        .mega-menu-wrap {
            background: $light;
            margin-top: -9px;
            width: 100%;
            display: none;
            transition: all 0.3s;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            border: 1px solid $border;

            .inner {
                width: 100%;
                display: flex;
                max-width: 1140px;
                margin-left: auto;
                margin-right: auto;
            }

            p {
                font-size: 15px;
                font-weight: bold;
            }

            .widget {
                &-title {
                    margin-bottom: 5px;
                    @include font-title;

                    a {
                        font-size: 13px;
                        color: $dark;
                    }
                }
            }
        }
    }

    .mega-menu {
        &:hover {
            .mega-menu-wrap {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    .mega-menu {
        .widget-list-cat {
            padding: 15px;
            padding-top: 15px;
            background: $light;

            ul {
                flex-direction: column;
                width: 100%;
                margin-bottom: 0;
            }

            li {

                display: block;
                padding: 3px 0;

                &:last-child {
                    border: none;
                }

                a {
                    font-size: 14px;
                    color: $dark;
                    display: block;
                    padding: 5px 0;

                    &:hover {
                        color: $brand;
                    }
                }
            }

            .viewmore {
                a {
                    position: relative;
                    font-weight: normal;
                    color: $brand;
                    opacity: 0.9;

                    &:after {
                        content: "\f178";
                        font: normal normal normal 14px/1 FontAwesome;
                        color: $brand;
                        margin-left: 5px;
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    .mega-menu-wrap {
        width: 100%;

        .widget-image-menu {
            position: relative;
            min-height: 275px;

            img {
                position: absolute;
                bottom: -8px;
                left: 10px;

            }
        }
    }
}

.page-header {
    .mega-cat {
        position: absolute;
        top: 100%;
        left: 0px;
        z-index: 3;
        display: none;
        margin-top: 17px;
        border-top: 1px solid $border;
        border-radius: 0;

        .list-main-cat {
            min-width: 220px;
            box-shadow: none;
            border-radius: 0;

            >li>a {
                padding-left: 30px;

                &::before {
                    left: 5px;
                }
            }
        }

        &.show {
            display: block;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 20px;
            margin-top: -16px;
            border-top: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $light;
            border-left: 8px solid transparent;
            z-index: 2;
        }
    }
}
@media(max-width:575px){
    .mega-menu{
        .mega-menu-wrap{
            border:none !important;
        }
        .inner{
            display: flex;
            flex-wrap: wrap;
            .col{
                width: 100%;
                flex: auto;
                border:none;
                border-top: 1px solid $border;
                &:first-child{
                    border:none;
                }
            }
        }
    }
    .dropdown-toggle{
        position: relative;
    }
    .dropdown-toggle::after{
        position: absolute;
        right: 10px;
        top: 15px;
    }
}