.col-form {
	padding: 30px;
	margin-bottom: 30px;
	background-color: $light;
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
}

.contact-info {
	font-size: 15px;

	.col-border {
		border-right: 1px solid $border;
	}

	p {
		max-width: 575px;
		margin-bottom: 5px;

		a {
			font-weight: 700;
			color: $brand;

			&:hover {
				color: $second_text;
			}
		}

		i {
			color: $brand;
			margin-right: 5px;
		}
	}
}

.contact-form {
	label {
		@include font-title;
		font-size: 14px;
	}

	.form-control {
		font-size: 14px;
	}

	.btn-submit {
		background-color: $brand;
		width: 100%;
		display: block;
		color: $light;
		font-weight: 700;
		text-transform: uppercase;
		border-radius: 4px;
		padding: 10px 15px;
		margin: 0 auto;

		&:hover {
			background: $second_text;
		}

		i {
			margin-left: 5px;
		}
	}
}

.contact-map {
	iframe {
		max-width: 100%;
	}
}