.top-banner-product {
    margin-bottom: 15px;

    img {
        display: block;
        width: 100%;
    }
}

.archive-product-container {
    background: $light;
    padding: 0;
}

.list-product-archive {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;

    >.col-md-3,
    >.col-md-4,
    >.col-md-2 {
        padding: 0px;

    }

    .col-md-4:nth-last-child(1),
    .col-md-4:nth-last-child(2),
    .col-md-4:nth-last-child(3) {
        .product {
            border-bottom: 1px solid $border;
        }
    }

    .product {
        border-radius: 0px;
        margin-bottom: 0;
         @media(max-width: 575px) {
            .product-title{
                min-height: 75px;
                line-height: 1.4;
            }
        }
    }

    @media(max-width: 575px) {
        .col-6:nth-child(2n) {
            .product {
                border-left: none;
                margin-bottom: 0;

            }
        }

        .col-md-3:nth-last-child(3),
        .col-md-3:nth-last-child(4) {
            .product {
                border-bottom: none !important;
            }
        }

        .col-6 {
            padding: 0;

            .product {
                border-bottom: none;
                margin-bottom: 0;
                border-radius: 0;

                &:hover {
                    border-color: $border;
                }
            }
        }

        .col-6:last-child,
        .col-6:nth-last-child(2) {
            .product {
                border-bottom: 1px solid $border;


            }
        }
    }

}

.list-product-archive {
    .col-md-3 {
        &:nth-child(4n) {
            .product {
                border-right: 1px solid $border;
            }
        }

        &:nth-last-child(4),
        &:nth-last-child(3),
        &:nth-last-child(2),
        &:nth-last-child(1) {
            .product {
                border-bottom: 1px solid $border;
            }
        }
    }
}

.product-filter {
    background-color: #f1f1f1;
    margin-bottom: 15px;
    padding: 15px 15px;
    border-bottom: 2px solid $border;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;

    .filter-title {
        @include font-title;
        font-size: 12px;
    }

    .filter-item {
        background-color: $light;
        margin: 0 10px;
        border-radius: 4px;
        cursor: pointer;
        position: relative;

        .icon {
            margin-right: 5px;
        }

        .label {
            position: relative;
            display: flex;
            align-items: center;
            padding: 5px 10px;
        }

        &.has-child {
            .label {
                &:after {
                    content: "\f107";
                    font-family: FontAwesome;
                    font-size: 16px;
                    display: inline-block;
                    margin-left: 5px;
                    margin-top: -2px;
                }
            }
        }

        &.selected {
            border: 1px solid $brand;
            background: #FEF2F2;
            color: $brand;
        }

        &.show {
            background-color: $brand;
            color: $light;
            
            &:before {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                bottom: -8px;
                left: 15px;
                border-bottom: 7px solid #fff;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                z-index: 3;
            }
        }

        .box-select {
            display: none;
            width: 400px;
            max-height: 210px;
            overflow-x: hidden;
            overflow-y: scroll;
            scrollbar-width: thin;
            margin-left: auto;
            margin-right: auto;
            display: none;
            flex-wrap: wrap;
            padding: 10px 10px 0 10px;
            border: 1px solid #E5E7EB;
            border-radius: 10px;
            background-color: #ffffff;
            -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            position: absolute;
            top: calc(100% + 7px);
            left: 0;
            z-index: 2;
            cursor: default;

            &.show {
                display: flex;
            }
        }

        .btn-filter {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            float: left;
            margin: 0 10px 10px 0;
            font-size: 14px;
            position: relative;
            padding: 6px 10px;
            border: 1px solid #E5E7EB;
            border-radius: 10px;
            background: #F3F4F6;
            color: #444444;
            justify-content: center;
            font-weight: normal;
            overflow: hidden;
            order: 1;

            &.selected {
                border: 1px solid $brand;
                background: #FEF2F2;
                color: $brand;
                outline: none;
                order: 0;

                &:before {
                    content: "";
                    width: 15px;
                    height: 10px;
                    border-radius: 0 0 0.5rem 0;
                    background: $brand;
                    background-image: url('../images/icons/checkmark.svg');
                    background-size: 50%;
                    background-repeat: no-repeat;
                    background-position: center;
                    color: #ffffff;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    a {
        display: block;
        font-weight: 700;
        color: $brand;
        padding: 15px;
        border-bottom: 2px solid transparent;

        &:hover {
            color: $second_text;
            border-color: $second_text;
        }

        &.active {
            border-bottom: 2px solid $second_text;
        }
    }

    .form-group {
        margin-bottom: 0;
        margin-left: auto;
        font-size: 13px;

        @media (max-width: 575px) {
            margin-right: 0;
        }
    }

    select {
        min-width: 130px;
        font-weight: 500;
        font-size: 13px;

        @media (max-width: 575px) {
            min-width: auto;
        }
    }
}

.product-filter {
    @media (max-width: 575px) {
        position: relative;
        padding: 0;

        .filter-item {
            position: static;

            &.show::before {
                display: none;
            }

            .box-select {
                width: 100%;
            }
        }

        .inner-filter {
            padding: 10px 15px;
            overflow-x: auto;
            
            > div {
                width: -webkit-max-content;
                width: -moz-max-content;
                width: max-content;
            }
        }
    }
}

.product-filter-list {
    margin-bottom: 15px;
    font-size: 13px;

    .list-filter {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: auto;
        max-width: calc(100% - 100px);

    }

    .filter-item {
        background-color: $bg_pink;
        margin: 0 10px;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid $red;
        color: $brand;
        display: flex;
        align-items: center;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            background-color: $second_text;
            color: $light;
            border-color: transparent;
        }

        .icon {
            background-color: $red;
            width: 15px;
            height: 15px;
            line-height: 15px;
            font-weight: normal;
            font-size: 10px;
            color: $light;
            text-align: center;
            border-radius: 15px;
            margin-left: 10px;
            display: block;
        }
    }

    @media (max-width: 575px) {
        .filter-item {
            margin-bottom: 10px;
            margin-right: 2px;
            font-size: 11px;
        }
    }

    .clear-all {
        background-color: $red;
        color: $light;

        @media (max-width:575px) {
            width: 250px;
            height: 30px;
            font-size: 11px;
            margin-right: 0;
            padding-left: 5px;
            padding-right: 5px;

            .icon {
                margin-left: 0px;
            }
        }
    }
}